.header {

}
.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.burger-icon {
}
.burger-icon-item {
}
.header__logo {
    // margin-right: auto;
    // width: 12%;
}
.logo {
    margin-right: 12px;
}
.logo-title {
    margin-top: 8px;
}
.header__nav {
    width: 556px;
}
.navigation {
}
.nav__item {
}
.navigation__inner {
}
.nav__item-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
}
.item-list {
    
}
.nav-link {
    font-family: $ff2;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 170%;
    color: #686868;
    // &::after{
    //     content: '';
        // border-bottom: 2px solid #FF7D56;
    // }
    &:hover{
        border-bottom: 2px solid #FF7D56;
        color: #FF7D56;
        

    }
}





.burger-icon {
// 	width: 48px;
// 	height: 48px;
// 	border: none;
// 	background: none;
// 	position: absolute;
// 	outline: none;
	display: none;
// 	cursor: pointer;
//     background-color: #F07566;
//     border-radius: 50px;
//     z-index: 20;
// }
// .burger-icon-item {
// 	width: 22px;
// 	height: 2px;
// 	background: #fff;
// 	position: relative;
//     margin-left: 14px;
//     border-radius: 2px;
    
}

// .burger-icon-item::before {
// 	content: "";
// 	display: block;
// 	width: 22px;
// 	height: 2px;
// 	background: #fff;
// 	position: absolute;
// 	top: -10px;
// 	left: 0;
//     border-radius: 2px;
//     transition: all 0.3s ease 0s;
// }

// .burger-icon-item::after {
// 	content: "";
// 	display: block;
// 	width: 22px;
// 	height: 2px;
// 	background: #fff;
// 	position: absolute;
// 	bottom: -10px;
// 	left: 0;
//     border-radius: 2px;
//     transition: all 0.3s ease 0s;
// }
// .burger-icon.menu-open .burger-icon-item::before,
// .burger-icon.menu-open .burger-icon-item::after{
//     transform: rotate(-45deg);
//     top: 0px;
//     transition: all 0.3s ease 0s;
//     visibility: visible;
// }
// .burger-icon.menu-open .burger-icon-item::after{
//     transform: rotate(45deg);
// }
// .burger-icon.menu-open .burger-icon-item{
//     visibility: hidden;
// }