@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?t7j3lr');
    src:  url('fonts/icomoon.eot?t7j3lr#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t7j3lr') format('truetype'),
    url('fonts/icomoon.woff?t7j3lr') format('woff'),
    url('fonts/icomoon.svg?t7j3lr#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    // speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-brain:before {
    content: "\e900";
    color: #fff;
}
.icon-brandico_facebook:before {
    content: "\e901";
    color: #fff;
}
.icon-check-circle:before {
    content: "\e902";
}
.icon-cubes-1:before {
    content: "\e903";
    color: #fff;
}
.icon-idea-lamp:before {
    content: "\e904";
    color: #fff;
}
.icon-instagram:before {
    content: "\e905";
}
.icon-minus:before {
    content: "\e906";
}
.icon-plus:before {
    content: "\e907";
}
.icon-rating-1:before {
    content: "\e908";
    color: #fff;
}
.icon-rating-star:before {
    content: "\e909";
    color: #ff9b63;
}
.icon-twitter:before {
    content: "\e90a";
    color: #fff;
}
.icon-Vector-star:before {
    content: "\e90b";
    color: #fff;
}
