@import "_nullstyle";
//
//     font-family: 'Baloo 2', cursive;
//     font-family: 'Nunito', sans-serif;
//
body{
    background-image: url(/img/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.wrapper{
    max-width: 1140px;
    margin: 0 auto;

}
// ...vvvvvv./////////////////////////////////////////////
$ff1: 'Baloo 2';
$ff2: 'Nunito', sans-serif;
$fs-nav-link: 16px;
$title-col: #25334E;
$paragraph-col: #686868;
$btn-fs: 20px;
// $fs-nav-logo-title: 36px;
//vvvvvv /////////////////////////////////////////////////////
@mixin paragraph-style-text {
    font-family: $ff2;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 170%;
}





#toTop {
    width:50px;
    height: 50px;
    border:1px solid #ccc;
    border-radius: 50px;
    background:#F07566;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:35px; 
    right:35px;
    cursor:pointer;
    display:none;
    box-shadow: 0 0 10px rgb(100, 50, 38);
    transition: all 0.5s;
    &:hover{
        box-shadow: 0 0 25px rgb(100, 38, 38);
    }
}
#toTop::before{
    content: 'UP';
    font-family: $ff1;
    color: white;
    font-size: 16px;
    line-height: 40px;
}
@import "_icomoon";
@import "_block__header";
@import "_block__home";
@import "_block__indicators";
@import "_block__why-mainan";

@import "_block__footer";
@import "_media";